h1, h2 {
  color: #2c3e50;
  font-family: 'Segoe UI', sans-serif;
}

p, li {
  font-size: 16px;
  line-height: 1.5;
}

img {
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

ul {
  list-style: square;
}
